
body {
    font-family: "Poppins", sans-serif;
}

header{
    background-color: #F0E6DD;
    
}
p {
    text-align: justify;
    
}



.main {
    padding-bottom: 100px;
}
 
.btn-primary {
    background-color: #74512D;
    color: white;
    width: 10rem;
}

.btn-buy {
    background-color: #74512D;
    color: white;
    width: 5rem;
    
}
.navbar-nav .nav-link {
    position: relative;
}

.cartbox a {
    border: 5px solid white;
}



